{% extends 'base.html' %}
{% block title %}assignment8{% endblock %}
{% block tohen %}
    {{ super() }}
 <h1>About</h1><br>
    {% for key, value in profile.items() %}
    <h2>{{ key }}:{{ value | upper() }}</h2>
    {% endfor %}
    <p> Name: {{ name | default('unknown' , true) | upper() }} {{ second_name | upper()}}</p>
    <p> University:{{ university  | default('unspecified' , true)}}</p>
    <h2>Degreas:</h2>
    <ol>
        {% for degree in degreas %}
            <li>{{ degree }}</li>
        {% endfor %}
    </ol>
    <h2>Hobbies:</h2>

    <ul>
        <li>{{ hobies[0] }}</li>
        <li>{{ hobies[1] }}</li>
        <li>{{ hobies[2] }}</li>
    </ul>
{% if name %}
        <h3> <a href="/">Link to Home</a></h3>
    {% else %}
        <h3> Please log in to website</h3>
    {% endif %}
{% endblock %}