{% extends 'base.html' %}

{% block title %}
assignment10
{% endblock %}

{% block tohen %}
     <h1>Users</h1>
    <h2> insertion</h2>
    <form action="/insert_user" method="post">
        <input name="id" type="text" placeholder="ID">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Insert">
    </form>
    <hr>
   <h2>Users' List:</h2>
    {% for user in users %}
        <li>
            <form action="/delete_user" method="post" style="display: inline">
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="submit" value="Delete">
            </form>
            ID: {{ user.id }} &emsp;Name: {{ user.name }} &emsp;Email: {{ user.email }}
        </li>
    {% endfor %}
    <h2 id="userAction"></h2>
    <hr>

    <h1>Update</h1>
    <h2>enter user info </h2>
    <form name="update" method="POST" action="/update_User">
        <input name="id" type="text" placeholder="ID">
        <input name="name" type="text" placeholder="Name">
        <input name="email" type="email" placeholder="Email">
        <input name="password" type="password" placeholder="Password">
        <input type="submit">
    </form>


{% endblock %}
