{% extends 'base.html' %}
{% block title %}assignment 11{% endblock %}

{% block tohen %}
     <h1> Json format</h1>
    {% if answer %}
        <h2> users:</h2>
        {{ answer }}
    {% else %}
        <h2> Get users</h2>
        <form action="/assignment11/users" method="GET">
            <input type="submit" value="Get users in json format">
        </form>
    {% endif %}
    <hr>
    {% if non %}
        <h2> get frontend</h2>
        <form action="/assignment11/outer_source" method="POST">
            <input type="number" name="frontend">
            <input type="submit" value="get user frontend">
        </form>
        <h2> get backend</h2>
        <form action="/assignment11/outer_source" method="POST">
            <input type="number" name="backend">
            <input type="submit" value="get user backend">
        </form>
    {% endif %}
    {% if frontend %}
        <h2>get backend</h2>
        <form action="/assignment11/outer_source" method="POST">
            <input type="number" name="backend">
            <input type="submit" value="get user backend">
        </form>
        <script> get_user({{ frontend }})</script>
    {% endif %}

    {% if backend %}
        <h2> get user frontend</h2>
        <form action="/assignment11/outer_source" method="POST">
            <input type="number" name="frontend">
            <input type="submit" value="get user frontend">
        </form>

                <img src="{{ backend['data'].avatar }}" alt="pic">
                <h3>user id: {{ backend['data'].id }}</h3>
                <h3>first name: {{ backend['data'].first_name }}</h3>
                <h3>last name: {{ backend['data'].last_name }}</h3>
                <h3>email: {{ backend['data'].email }}</h3>

    {% endif %}



{% endblock %}