{% extends 'base.html' %}
{% block title %} assignment 9 {% endblock %}

{% block tohen %}
    {% if username %}
        <form action="/assignment9" method="GET">
            Search User: <input name="search_user" type="text">
        <input type="submit">
            <h2> * you can see all users by clicking on the sumbit botton</h2>
            <h2> ____________________________________________________________________</h2>
        </form>
        {% if search_user=="" %}
            {% for key, value in users.items() %}
                <h2>{{ key }}: {{ value }}</h2>
            {% endfor %}
            <span>
                    {% for userVal in users.values() %}
                        {% for x in userVal %}
                            <h3>{{ x }}: {{ userVal[x]}}</h3>
                        {% endfor %} <br>
                    {% endfor %}
            </span>
        {% else %}
            {% for userVal in users.values() %}
                {% for x in userVal %}
                    {% if search_user==userVal[x] %}
                        {% for i in userVal %}
                            <h3>{{ i }}: {{ userVal[i]}}</h3>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h1>Please fill in your Username & Password</h1>
        <form action="/assignment9" method="POST">
            Username: <input name="username" type="text">
            Password:<input name="password" type="password">
        <input type="submit">
        </form>
    {% endif %}
{% endblock %}